.ai-sidebar-chat {
    .user-message {
        border-radius: 20px 20px 0px;
    }

    .ai-message {
        border-radius: 20px 20px 20px 0px;
    }
}

.ai-sidebar-chat-button-wrapper {
    position: absolute;
    right: calc(1.5rem - 4px);
    bottom: calc(1.5rem - 4px);
    padding: 4px;
}

.ai-sidebar-chat-button {
    width: fit-content;
}

.ai-sidebar-chat-input textarea {
    resize: none;
    padding: 1rem 4rem 1rem 1rem;
}
